*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 1140px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
  margin: 133px 30px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__list {
  height: 298px;
  overflow-y: auto;
}

.result {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.search-form__fieldset {
  flex: 1;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 5px 0;
}

.search-form__textfield {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  background: transparent;
  appearance: none;
  width: 225px;
  padding: 0 14px 0 0;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox[type="checkbox"] + span {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid;
}

.search-form__pseudo-checkbox::before {
  content: "";
  display: none;
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: #fff;
}

.search-form__pseudo-checkbox {
  display: flex;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  display: block;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  display: block;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label-text {
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin: 0 0 16px 0;
  position: relative;
  overflow: hidden;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.content__list {
  position: relative;
}

.content__list-item:not(:last-child) {
  margin: 0 0 30px 0;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.content__video-card-description-container {
  flex: 1;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 2px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__card-link_current {
  background: #545050;
}

.content__video-card-title {
  color: #fff;
  font-family: "Oswald";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.content__video-card-title:not(:last-child) {
  margin: 0 0 6px 0;
}

.content__video-card-description {
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.title {
  color: #fff;
  font-family: "Oswald";
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin: 0 0 26px 0;
}

.content__accent {
  color: #545050;
  font-family: "Oswald";
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__list-item:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.button {
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 0;
  border: 1px solid #fff;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.button:active {
  border: 1px solid #fff;
  background: #545050;
}

.button:focus {
  outline: 0;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  color: #fff;
  text-align: center;
  font-family: "Fira Sans Condensed";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 194px;
  height: 34px;
  flex-shrink: 0;
  align-self: end;
}

.more-button {
  width: 399px;
  height: 34px;
  flex-shrink: 0;
}

.checkbox {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
